// ------------------------------------------------------------------------
// Module: Block grid
// ------------------------------------------------------------------------
//

// Setup
// ------------------------------------------------------------------------
$block-grid-item-padding: 20px;

// Module core
// ------------------------------------------------------------------------
.block-grid {
  margin: 0;
  padding: 0;
  @extend %clearfix;
}

.block-grid-item {
  float: left;
  list-style: none;
  padding-right: $block-grid-item-padding;
  padding-left: $block-grid-item-padding;
}


// Module variations
// ------------------------------------------------------------------------


// Module helpers
// ------------------------------------------------------------------------
