// ------------------------------------------------------------------------
// Module: Avatars
// ------------------------------------------------------------------------
//

// Setup
// ------------------------------------------------------------------------
$avatar-alpha-size: 50px;
$avatar-beta-size: 150px;
$avatar-gamma-size: 300px;


// Module core
// ------------------------------------------------------------------------
.avatar {
  display: inline-block;
  text-align: center;

  img {
    border-radius: 50%;
    height: auto;
    max-width: 100%;
    width: $avatar-alpha-size;
  }
}


// Module variations
// ------------------------------------------------------------------------
.avatar-beta {
  img {
    width: $avatar-beta-size;
  }
}

.avatar-gamma {
  img {
    width: $avatar-gamma-size;
  }
}
